BODY {
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

H1 {
	
}

A {
	color: #339933;
}
#pie {
	text-align: left;
	margin: 0 auto;
	padding: 15px;
	
}
DIV#contenedor {
	margin: 0 auto;
}

DIV#menu ul,DIV#menu li {
	margin-left: 10px;
	padding: 0;
}

DIV#menu {
	width: 200px;
	overflow: hidden;
	float: left;
	padding: 5px;
	background-color: #FDF7F2;
	border: 1px dashed #CCCCCC;
}

DIV#menu-pagina {
	/*background: #FDF7F2;*/
	/*border: 1px dashed #CCCCCC;*/
	width: 100%;
}

DIV#contenido {
	width: 600px;
	padding: 15px;
	float: left;
	/*border-left: 1px solid #CCCCCC;*/
}

TH {
	background-color: #EEEEEE;
	padding: 0 3px 0 3px;
}

TD {
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding: 2px;
}

label {
	width: 100px;
	display: block;
	float: left;
	text-align: left;
}

DIV#formbutton {
	margin-left: 100px;
}

DIV#mensaje {
	margin: 10px;
	color: #FF0000;
}

DIV#boton_formulario {
	width: 205px;
	margin-left: 150px;
}

DIV#boton_formulario INPUT {
	float: left;
}

DIV#logueado {
	
}

DIV#noticia {
	border-bottom: 1px dashed #CCCCCC;
	margin-bottom: 2em;
	/*background:#FEFDFC;*/
}

DIV#noticia-titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.5em;
	font-size: 20px;
}

DIV#noticia-fecha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-bottom: 6px;
}

DIV#pagina-titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.5em;
	font-size: 20px;
}

DIV#pagina-contenido {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-bottom: 6px;
}

DIV#login {
	text-align: center;
	float: center;
}

DIV#login-form {
	text-align: left;
}

TABLE.mensaje {
	margin: 0 auto;
	text-align: center;
}

TD.mensaje-error {
	padding: 3px 8px 3px 8px;
	border: 1px solid #ff0000;
	background-color: #ffecec;
}

TD.mensaje-exito {
	padding: 3px 8px 3px 8px;
	border: 1px solid #89cb59;
	background-color: #c3f89c;
}

TD.mensaje-informativo {
	padding: 3px 8px 3px 8px;
	border: 1px solid #c9c54d;
	background-color: #fffb96;
}

.titulo_menu {
	padding: 2px;
	background-color: #EEEEEE;
	text-align: left;
}

/*Menu horizontal  */
.menu-opciones {
	font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.error-campo-formulario {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ff0000;
}

.menu-opciones ul,li { 
	/*list-style-type: none;*/	
}

.menu-opciones ul {
	margin: 0;
	padding: 0;
}

.menu-opciones li {
	float: left;
}

.menu-opciones a {
	text-decoration: none;
	font-weight: bold;
	color: #DF7E2F;
	background: #FDF7F2;
	display: block;
	padding: 3px 10px;
	text-align: center;
	border: 1px solid #F7DECA;
	border-width: 1px 1px 1px 0;
}

.menu-opciones a#primero {
	border-left: 1px solid #F7DECA;
}

.menu-opciones a:hover {
	background: #F7DECA;
}
/*fin menu */
 
/* menu admin */
.menu-admin {
	font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 250px;
	text-align: left;
	padding: 3px;
}

.menu-admin ul,li { 
	/*list-style-type: none;*/	
}

.menu-admin ul {
	margin: 0;
	padding: 0;
}

.menu-admin li {
	float: left;
}

.menu-admin a {
	text-decoration: none;
	font-weight: bold;
	color: #DF7E2F;
	background: #FDF7F2;
	padding: 3px 10px;
	text-align: left;
	border: 1px solid #F7DECA;
	border-width: 1px 1px 1px 0;
}
.menu-admin a#primero {
	border-left: 1px solid #F7DECA;
}

.menu-admin a:hover {
	background: #F7DECA;
}


/* FAQ */
DIV#faq {
	border-bottom: 1px dashed #CCCCCC;
	margin-bottom: 2em;
	/*background:#FEFDFC;*/
}

DIV#faq-titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.5em;
	font-size: 20px;
}

DIV#faq-fecha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-bottom: 6px;
}

/*Capa para contrasetar los efectos de float y hacer de 'falso contenido' para que el menu opciones quede contenido en la capa noticia.*/
.div-reset {
	clear: both;
	margin-bottom: 1em;
}
/*fin reset*/

/* Nuevo Diseño de Botones */
a.squarebutton{
	background: transparent url('images/square-orange-left.gif') no-repeat top left;
	display: block;
	float: left;
	font: normal 12px Arial; /* Change 12px as desired */
	line-height: 15px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 23px) */
	height: 23px; /* Height of button background height */
	padding-left: 9px; /* Width of left menu image */
	text-decoration: none;	
}
a:link.squarebutton, a:visited.squarebutton, a:active.squarebutton{
	color: #494949; /*button text color*/
}
a.squarebutton span{
	background: transparent url('images/square-orange-right.gif') no-repeat top right;
	display: block;
	padding: 4px 9px 4px 0; /*Set 9px below to match value of 'padding-left' value above*/
	font-weight: bold;		
}
a.squarebutton:hover{ /* Hover state CSS */
	background-position: bottom left;
}
a.squarebutton:hover span{ /* Hover state CSS */
	background-position: bottom right;
	color: black;
}
.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
	overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
	width: 100%;
	
}

/* Nueva estética para los formularios */

.cssform p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px; /*width of left column containing the label elements*/
border-top: 1px dashed gray;
height: 1%;
}

.cssform label{
font-weight: bold;
float: left;
margin-left: -155px; /*width of left column*/
width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
width: 180px;
}

.cssform textarea{
width: 250px;
height: 150px;
}

/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/

* html .threepxfix{
margin-left: 3px;
}

/* Nuevo menú horizontal */
.arrowlistmenu{
	width: 180px; /*width of menu*/
}

.arrowlistmenu .headerbar{
	font: bold 14px Arial;
	color: white;
	background: black url(images/titlebar.png) repeat-x center left;
	margin-bottom: 10px; /*bottom spacing between header and rest of content*/
	/*text-transform: uppercase;*/
	padding: 4px 0 4px 10px; /*header text is indented 10px*/
}

.arrowlistmenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
	padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
	/*color: #A70303;*/
	background: url(images/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
	display: block;
	padding: 2px 0;
	padding-left: 19px; /*link text is indented 19px*/
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px solid #dadada;
	font-size: 90%;
}

.arrowlistmenu ul li a:visited{
	/*color: #A70303;*/
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
	color: #A70303;
	background-color: #F3F3F3;
}